<div class="wrapper">
	<h1 style="text-align:center;">NFL Homefield Advantage</h1>
	<div class="observable" contenteditable="true" id="year">2004</div>
</div>
<div id="container" style="position: relative; margin:0 auto; width: 13 0%; height: 100%;"></div>
<div id="slider"></div>
