<div class="wrapper">
	<h1 style="text-align:center;">NFL Homefield Advantage</h1>
	<div class="observable" contenteditable="true" id="year">2004</div>
</div>
<div id="container" style="position: relative; margin:0 auto; width: 13 0%; height: 100%;"></div>
<div id="slider"></div>
<footer>
<p>This project was created by <a href="https://github.com/Bigspencey">Spencer Smitherman</a> and <a href="https://github.com/dslachtman">Darcey Lachtman</a> with special guest <a href="https://github.com/qsymmachus">John Olmsted</a>. Source code to the project is available on <a href="https://github.com/Bigspencey/nfl_home_field_advantage">Github</a> - feel free to contribute!</p></footer>