<h1 style="text-align:center;">NFL Homefield Advantage</h1>
<div id="container" style="position: relative; margin:1em auto; width: 13 0%; max-height: 70%;"></div>
<div class="wrapper">
	<div id="year">2004</div>
	<div id="slider"></div>
</div>