<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://datamaps.github.io/scripts/datamaps.usa.min.js"></script>
<h1 style="text-align:center;">NFL Homefield Advantage</h1>
<div id="container" style="position: relative; margin:1em auto; width: 13    0%; max-height: 70%;"></div>