/*// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
	background-image:url('tweed.png');
}

.wrapper {
	width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper > div {
	margin: 35px 0;
}